.article-area {
  background-image: url(../images/form3-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
}
.relax-area {
  width: 60%;
}
.relax-area h1 {
  font-size: 3em;
  margin-bottom: 10px;
}
.relax-area span {
  color: greenyellow;
}
.relax-area p {
  font-size: 18px;
  margin-bottom: 10px;
}
.relax-area ul {
  list-style: none;
}
.relax-area ul li {
  margin-bottom: 5px;
  font-size: 18px;
}
.relax-area ul li i {
  margin-right: 5px;
}
.relax-area button {
  background: greenyellow;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
}
.register-area {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form {
  width: 100%;
  height: 90%;
  background: greenyellow;
  padding: 20px 15px;
  border-radius: 10px;
}
.register-form h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 5px;
}
.register-form p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}
.register-form form input {
  width: 98%;
  padding: 10px 0 10px 5px;
  margin-bottom: 10px;
  outline: none;
  border: 0.3px solid;
  border-radius: 3px;
}
.register-form form input[type="submit"] {
  width: 100%;
  background: green;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding: 12px 0;
  box-shadow: 4px 5px 5px #1a1919;
  margin-top: 10px;
  cursor: pointer;
}
.register-form form input[type="submit"]:hover {
  background: rgba(0, 128, 0, 0.92);
}
