/* font link  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: rgb(116, 185, 255);
  padding: 22px 0px;
  border: 2px solid rgb(255, 255, 255);
}
header ul li:nth-child(4) img {
  width: 50px;
  height: 35px;
  border-radius: 0;
  margin: 0;
}
.header-area {
  width: 75%;
  margin: auto;
}
.flex-content1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 8px 5px;
  padding: 2px 5px;
  border-radius: 4px;
}
header ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition-duration: 0.2s;
}
header ul li:nth-child(4) a:hover {
  background-color: #74b9ff;
  padding: 2px 5px;
  border-radius: 0;
}
.flex-content2 {
  display: flex;
}
section {
  border: 2px solid rgb(255, 255, 255);
  height: 850px;
}
section .left-side {
  background-image: url("../images/graphic2.svg");
  background-color: rgb(84, 160, 255);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0px 50px;
  background-origin: content-box, content-box;
  width: 30%;
}
section .left-side .logo-area {
  width: 15%;
  padding-top: 30px;
}
section .right-side {
  background-color: rgb(9, 132, 227);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .right-side .form-items {
  width: 35%;
}
.right-side .form-top-area h1 {
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
  font-family: "Roboto Mono", monospace;
  font-size: 28px;
}
.right-side .form-top-area p {
  font-family: auto;
  color: rgb(255, 255, 255);
  padding-bottom: 30px;
  font-size: 17px;
}
.right-side .button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  display: inline-block;
  font-family: monospace;
  font-weight: bold;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-right: 15px;
  cursor: pointer;
}
.right-side .button a:nth-child(2) {
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
.right-side .button a:nth-child(2):hover {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.right-side form input {
  margin-bottom: 10px;
  padding: 12px 15px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: rgb(48, 51, 107);
}
.right-side form input::placeholder {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.right-side form input[type="submit"] {
  width: 30%;
  padding: 10px 0px;
  font-size: 16px;
  color: rgb(84, 160, 255);
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}
.right-side form input[type="submit"]:hover {
  background-color: rgb(255, 118, 117);
  color: rgb(255, 255, 255);
}
.forgot-pass {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: initial;
}
.forgot-pass:hover {
  text-decoration: underline;
  color: rgb(129, 236, 236);
}
.flex-content3 {
  display: flex;
  justify-content: flex-start;
}
.login-with {
  margin-top: 50px;
}
.login-with ul {
  list-style: none;
}
.login-with ul li p {
  font-family: auto;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 10px;
}
.login-with ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 20px;
}
.login-with ul li a:hover {
  text-decoration: underline;
}
#login {
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
#login:hover {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
#register {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
#reset-link {
  width: 107%;
  padding: 10px 0px;
  margin: 10px 0px 8px;
}

/* register nested menu part style start here  */
header .flex-content1 .dropdown {
  list-style: none;
  display: none;
  position: absolute;
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
header .flex-content1 li:last-child:hover .dropdown,
header .flex-content1 li:nth-child(7):hover .dropdown,
header .flex-content1 li:nth-child(5):hover .dropdown {
  display: block;
}
.dropdown li a:hover {
  background-color: rgba(116, 185, 255, 0.4);
  border-radius: 0;
  width: 100%;
}
.dropdown li:nth-child(4) a:hover {
  background-color: rgba(116, 185, 255, 0.4);
}
/* register nested menu part style end here  */
